/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

/* Logo */
.logo {
    width: auto;
    height: auto;
}

/* Desktop */
.nav-desktop {
    display: flex;
    align-items: center;
}

.nav-desktop ul {
    display: flex;
    gap: 2rem;
    margin-top: 10px;
}

/* Language */
#language-desk {
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1.5rem;
    cursor: pointer;
}

#lang-gap {
    display: flex;
    gap: 0.2rem;
}

/* Mobile */

.nav-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

details ul{
    display: flex;
    flex-direction: column;
}

/* Account */
#main-create{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-account{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}

.info-account {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* PAGE SIGN-UP */
#main-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    padding: 4rem 3rem 1rem;
    gap: 2rem;
}

/* Center ACC */
.center-acc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.acc-dados {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 0.7rem 1.4rem;
}

.mg-top {
    margin-top: 1rem;
}



/* Bottom ACC */
.back-acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
